backports.tarfile==1.2.0
en-core-web-sm==3.8.0
espeakng-loader==0.2.4
httptools==0.6.4
importlib-metadata==8.0.0
jaraco.collections==5.1.0
kokoro==0.9.4
nicegui==2.24.2
num2words==0.5.14
phonemizer-fork==3.3.2
pip-chill==1.0.3
platformdirs==4.2.2
pyqt6-webengine==6.9.0
pyqtwebengine==5.15.7
python-dotenv==1.1.1
pywebview==6.0
qtpy==2.4.3
soundfile==0.13.1
spacy==3.8.7
spacy-curated-transformers==0.3.1
tomli==2.0.1
uvloop==0.21.0
pydub==0.25.1
websockets==15.0.1
